bionic/
bootable/
build/
buildscripts/
dalvik/
development/
device/
external/
frameworks/
hardware/
initramfs/
libcore/
ndk/
out/
packages/
prebuilt/
releasetools/
sdk/
system/
vendor/
.swp
build.sh
Makefile